//Colors

$bgColor: #090b1a;
$cardBgColor: #1b1938;
$accentColor: #aa5cdb;
$mainHeadingColor: #fff;
$paragraphColor: rgba(255, 255, 255, 0.75);
$statsHeadingColor: rgba(255, 255, 255, 0.6);

//Fonts

$fontSize:15px;
